:root{
  --water-color: #42a6ff;
  --purple: #42124c;
  --red: #b71a30;
  --pink: #bb083d;
}
#water-lvl{
    width:100%;
    height:300px;
    background:var(--water-color);
    transition: 2s height;
    position: relative;
  }
  #wave{
    background: url(wave.png);
    background-size: 400px;
    box-sizing:border-box;
    height:35px;
  }
  .wave1{
    animation: animate 30s linear infinite;
    animation-delay: 1s;
  }
  .wave2{
    animation: animate 20s linear infinite;
    animation-delay: 1.5s;
    opacity: 0.7;
    position: relative;
    top:-34px;
  }
  .wave3{
    animation: animate 15s linear infinite;
    animation-delay: 2s;
    opacity: 0.5;
    position: relative;
    top:-70px;
  }
  @keyframes animate{
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: 1000px;
    }
  }
  #water-box{
    background: #fff;
    padding: 5px;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-left: 4px solid var(--water-color);
    border-bottom: 4px solid var(--water-color);
    border-right: 4px solid var(--water-color);
    overflow: hidden;
    width:400px;
    margin: 2em;
  }
  #waves{
    position: relative;
    top: 72px;
  }
  #water{
    position: relative;
  }